@import url('https://fonts.googleapis.com/css2?family=Black+Han+Sans&family=Hi+Melody&display=swap');
.Header{
    display: flex;
    justify-content: center;
    overflow: hidden;

    .logo{
        width: 30%;
        margin-bottom: -6%;
        margin-top: -5%;
    }
  
}   